div(class="post-donate")
  div(id="github" class="pos-f tr3")
  div(id="DonateText" class="tr3") Donate 
  ul(class="list pos-f tr3" id="donateBox")
    li(id="AliPay")
    li(id="WeChat")
  div(id="QRBox" class="pos-f left-100" style="display: none;")
    div(id="MainBox" class="")
  div(class="clear")
  input(type="hidden" id="WeChatQR" value=theme.WeChatQR)
  input(type="hidden" id="AliPayQR" value=theme.AliPayQR)

