footer.container
  .rights
    span Copyright 
    span © 
    span 2014 - #{new Date().getFullYear()}
    span 
     a(href="//beian.miit.gov.cn/#/Integrated/index", target="_blank") 湘ICP备2020021380号-1 
    span
      a(href="/", target="_self") www.pswen.cn
